# Forecast S&P 500 Index Closing Price

Goal....

In [8]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import datetime

## Ingest

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/jhancuch/SP500-forecasting/main/data/daily_index.csv')

In [3]:
data.head()

        Date      Open      High       Low     Close Adj Close         Volume
0  28-Feb-22  4,354.17  4,388.84  4,315.12  4,373.94  4,373.94  4,594,010,000
1  25-Feb-22  4,298.38  4,385.34  4,286.83  4,384.65  4,384.65  3,941,780,000
2  24-Feb-22  4,155.77  4,294.73  4,114.65  4,288.70  4,288.70  5,070,560,000
3  23-Feb-22  4,324.93  4,341.51  4,221.51  4,225.50  4,225.50  3,814,340,000
4  22-Feb-22  4,332.74  4,362.12  4,267.11  4,304.76  4,304.76  4,007,780,000

In [4]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1254,7-Mar-17,"2,370.74","2,375.12","2,365.51","2,368.39","2,368.39","3,518,390,000"
1255,6-Mar-17,"2,375.23","2,378.80","2,367.98","2,375.31","2,375.31","3,232,700,000"
1256,3-Mar-17,"2,380.92","2,383.89","2,375.39","2,383.12","2,383.12","3,555,260,000"
1257,2-Mar-17,"2,394.75","2,394.75","2,380.17","2,381.92","2,381.92","3,821,320,000"
1258,1-Mar-17,"2,380.13","2,400.98","2,380.13","2,395.96","2,395.96","4,345,180,000"

In [5]:
data.shape

(1259, 7)

In [7]:
data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,1259,1259,1259,1259,1259,1259,1259
unique,1259,1250,1253,1255,1254,1254,1259
top,28-Feb-22,"2,630.86","4,429.97","2,881.99","2,926.46","2,926.46","4,594,010,000"
freq,1,2,2,2,2,2,1

## EDA

## Modeling

## Conclusion